TQueue3/teste.exe

TQueue3/TQueue.o
TQueue3/main.o
TQueue2/TQueue.o
TQueue2/teste.exe
TQueue2/main.o
TQueue1/TQueue.o
TQueue1/main.o
TListC/TClist.o
TListC/main.o
TListC/a.exe
TListC2/TClist.o
TListC2/main.o
TListC2/a.exe
TStack3/teste.exe
TStack3/TStack.o
TStack3/main.o
Trabalho Final/stack.o
Trabalho Final/matriz.o
Trabalho Final/main.o
Trabalho Final/makefile
Trabalho Final/imm.o
Trabalho Final/imm.exe
Trabalho Final/main.exe
Trabalho Final/c.txt
Trabalho Final/b.txt
Trabalho Final/a.txt
Trabalho Final/a.imm
Trabalho Final.rar
Trabalho Final/testlab.txt
Trabalho Final/testeconvert.txt
Trabalho Final/testeconvert.imm
Trabalho Final/testeconexo.txt
Trabalho Final/teste.txt
Trabalho Final/teste.imm
Trabalho Final/maze.txt
Trabalho Final/gimp.txt
Trabalho Final/filecc.txt
Trabalho Final/filecc.imm
Trabalho Final/file.txt
Trabalho Final/file.imm
Trabalho Final/file.imm
