TQueue3/teste.exe

TQueue3/TQueue.o
TQueue3/main.o
TQueue2/TQueue.o
TQueue2/teste.exe
TQueue2/main.o
TQueue1/TQueue.o
TQueue1/main.o
TListC/TClist.o
TListC/main.o
TListC/a.exe
TListC2/TClist.o
TListC2/main.o
TListC2/a.exe
